.DS_Store
client/*.txt
server/*.txt

common/*.o
topology/*.o
son/*.o
son/son
sip/*.o
sip/sip
client/*.o
server/*.o
client/app_simple_client
client/app_stress_client
server/app_simple_server
server/app_stress_server
IM/client
IM/server

